body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e6fffa;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: auto;
}

header .left span,
header .right span {
    color: #38b2ac;
    font-weight: 600;
}

.search-bar {
    background-color: white;
    padding: 8px;
    /* Giảm padding */
    display: flex;
    align-items: center;
    /* Căn giữa các phần tử */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Thêm bóng cho thanh tìm kiếm */
}

.search-bar .left {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Giảm khoảng cách giữa các phần tử */
    margin: auto;
}

.search-bar .right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: auto;
}

.search-bar .left .NameStore {
    color: #38b2ac;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin:auto;
    cursor: pointer;
}

.search-bar input {
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    padding: 8px 40px 8px 16px;
    /* Thêm padding bên phải để có chỗ cho biểu tượng */
    width: 300px;
    /* Giảm chiều rộng của thanh tìm kiếm */
    position: relative;
    /* Để có thể căn chỉnh biểu tượng bên trong */
}

.search-bar .search-icon {
    right: 10px;
    /* Căn chỉnh bên phải */
    color: #38b2ac;
    cursor: pointer;
    /* Thay đổi con trỏ khi hover */
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }
}